<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
 <div class="row">
    <div class="small-12 columns top-page-header">
      <div class="top-header">
        <p>Add Your Tweet</p>
      </div>
    </div>
  </div>
  <div id="recipient-input-wrapper">
    <h3 id="at-symbol">@</h3>
    <input id="recipient" type="text" value="Recipient">
  </div>
  <div id="tweet-input-wrapper">
    <input id="tweet-message" type="text" value="Your Postcard Tweet Message">
  </div>
</body>
</html>
