<div class="row top-page-header">
  <div class="small-12 columns">
    <div class="top-header">
      <p>Share a Message</p>
    </div>
  </div>
</div>
<div class="row" id="postcard-row">
  <div class="small-12 columns">
    <div id="postcard">
      <img src="http://placekitten.com/200/300"/>
    </div>
  </div>
</div>
<div class="row" id="submit-message-row">
  <div class="small-8 columns">
    <input type="text" id="personal-message" name="personal-message" />
  </div>
  <div class="small-4 columns">
    <input type="submit" value="Add Message" />
  </div>
</div>

