<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
 <div class="row">
    <div class="small-12 columns top-page-header">
      <div class="top-header">
        <p>Add Your Tweet</p>
      </div>
    </div>
  </div>
  <form id="tweet-message-form" method="post" action="/create/2/:pic">
  <div class="row">
    <div class="large-12 columns">
      <label id="at-symbol">@
        <input id="recipient" type="text" name="recipient" placeholder="Recipient" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label id="add-tweet-message">Tweet Message
        <textarea id="add-tweet-here" name="message" placeholder="Type here"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input id="postcard-message-next" type="submit" value="Next"/>
    </div>
  </div>
</form>
</body>
</html>
