<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
  <div class="row">
    <div class="large-12 columns top-page-header">
      <div class="top-header">
        <p>Add Your Pictures</p>
      </div>
    </div>
  </div>
  <div id="picture-wrapper">
    <div id="grid-row-1">
      <div class="grids" id="grid-1">
      </div>
      <div class="grids" id="grid-2">
      </div>
      <div class="grids" id="grid-3">
      </div>
    </div>
    <div id="grid-row-2">
      <div class="grids" id="grid-4">
      </div>
      <div class="grids" id="grid-5">
      </div>
      <div class="grids" id="grid-6">
      </div>
    </div>
    <div id="grid-row-3">
      <div class="grids" id="grid-7">
      </div>
      <div class="grids" id="grid-8">
      </div>
      <div class="grids" id="grid-9">
      </div>
    </div>
  </div>
  </body>
</html>
