<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
  <div class="row">
    <div class="small-12 columns top-page-header">
      <div class="top-header">
        <p id="tweet-it">Tweet it Out</p>
        <button id="tweet-it-out">I like it! Tweet it</button>
      </div>
    </div>
  </div>
  <div>
  <div id="postcard-example-final">
    <h2 id="greetings-text">GREETINGS FROM <span id="austin"> AUSTIN</span></h2>
    <div id="postcard-final-wrapper">
      <form id="tweet-message-form" method="post" action="/create/2/:pic">
  <div class="row">
    <div class="large-12 columns">
      <label id="at-symbol">@
        <input id="recipient" type="text" name="recipient" placeholder="Recipient" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label id="add-tweet-message">Tweet Message
        <textarea rows="9" id="add-tweet-here" name="message" placeholder="Type here"></textarea>
      </label>
    </div>
  </div>

</form>
     <!--  <label id="recipient-final"><strong><%= @recipient %></strong></label>
      <label id="tweet-message-final"><strong><%= @message %></strong></label> -->
    </div>
      <img id="instagram-image" src="<%= @selected %>" />
  </div>
</div>
</body>
</html>
