<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
<div class="row" id="top-home">
  <div>
    <div id="splash-name">
      <p>SplashCard</p>
    </div>
    <div id="send">
        <p id="send-postcard">Send a Postcard</>
        <a href="/oauth/connect" class="button" id="instagram-signin">Sign in with Instagram</a>
        <!-- <img id="arrow" src="/curly-arro.png"/> -->
    </div>
  </div>
</div>
<div id="postcard-example-home">
    <h2 id="greetings-text">GREETINGS FROM <span id="austin"> AUSTIN</span></h2>
    <div id="postcard-final-wrapper">
      <label id="recipient-final"><strong>kathbeaty</strong></label>
      <label id="tweet-message-final"><strong>Hello, world! I'm in Austin, Texas, the best city in the world!</strong></label>
    </div>
      <img id="instagram-image" src="http://placehold.it/240x240" />
  </div>
  </body>
</html>

