<!DOCTYPE html>
<html lang="en">
<head>
  <title>SplashCard</title>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css" />
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body>
<div class="row" id="top-home">
  <div>
    <div id="splash-name">
      <p>SplashCard</p>
    </div>
    <div id="send">
      <p>Send a Postcard</p>
    </div>
    <div>
      <a href="/oauth/connect" class="button" id="instagram-signin">Sign in with Instagram</a>
    </div>
  </div>
</div>
<div>
  <div id="postcard-example-home">
    <img src="http://placehold.it/1200x700"/>
  </div>
</div>
  </body>
</html>

