
  <div class="row">
    <div class="small-12 columns" id="top-home">
      <div id="splash-name">
        <p>SplashCard</p>
      </div>
      <div id="send">
        <p>Send a Postcard</p>
      </div>
    </div>
  </div>

