body {
  background-color:#A6D785;
}

#top-home {
  background-color: #465BDE;
  height: 170px;
  border-bottom-color: #C8592B;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.top-page-header {
  background-color: #465BDE;
  height: 120px;
  position: absolute;
}

#postcard-example-home {
  height: 370px;
  width: 700px;
  margin-top: 20px;
  margin-left: 150px;
  background-image:url('austin_skyline2.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 0px 0px;
  border-style:solid;
  border: 5px 5px 5px 5px black;
}

#picture-wrapper {
  height: 800px;
  width: 500px;
  padding-top: 150px;
  margin: auto;
}

#tweet-message-form {
  padding-top: 130px;
  width: 500px;
  left:0;
  right:0;
  position:absolute;
  margin: auto;
}

#recipient {
  width: 200px;
}

#at-symbol {
  color: black;
  font-size: 50px;
}

#add-tweet-message {
  font-size: 26px;
  color: black;
}

#postcard-message-next {
  height: 50px;
  width: 100px;
  font-size: 18px;
  color: white;
  background-color: #C8592B;
  text-shadow: 2px 2px 2px #000000;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#postcard-example-final {
  height: 370px;
  width: 700px;
  margin-top: 150px;
  margin-left: 150px;
  background-image:url('austin_skyline2.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 0px 0px;
  border-style:solid;
  border: 5px 5px 5px 5px black;
}

#greetings-text {
  font-family: 'Impact';
  text-align: center;
  text-shadow: 5px 5px 5px #000000;
  color: #C8592B;
}

#austin {
  font-size: 60px;
}

#recipient-final {
  font-size: 30px;
  color:black;
}

#tweet-message-final {
  padding-top: 20px;
  width: 400px;
  font-size: 30px;
  color:black;
  padding-left: 5px;
  text-shadow: 2px 2px 2px white;
}

#postcard-final-wrapper {
  float:left;
}

#instagram-image {
  padding-right: 50px;
  padding-top: 0px;
  float:right;
}

.grids {
  height: 100px;
  width: 100px;
  background-color: white;
}

#grid-row-1 {
  width: 500px;
  display: inline-block;
  margin-bottom: 20px;
}

#grid-1 {
  float: left;
  background-color: purple;
}

#grid-2 {
  float: left;
  margin-left: 100px;
  background-color: lime;
}

#grid-3 {
  background-color: red;
  float: right;
}

#grid-row-2 {
  width: 500px;
  display: inline-block;
  margin-bottom: 20px;
}

#grid-4 {
  background-color: lime;
  float: left;
}

#grid-5 {
  float: left;
  margin-left: 100px;
  background-color: blue;
}

#grid-6 {
  background-color: orange;
  float: right;
}

#grid-row-3 {
  display: inline-block;
  width: 500px;
}

#grid-7 {
  float: left;
}

#grid-8 {
  float: left;
  margin-left: 100px;
}

#grid-9 {
  background-color: yellow;
  float: right;
}

#splash-name p {
  font-size: 65px;
  color: white;
  text-shadow: 3px 3px 5px black;
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  font-family: "superclarendon", Palatino, serif;
}

#send {
  margin-top: 20px;
  margin-right: 80px;
  width: 400px;
  height: 200px;
  float:right;
  margin-right: 0px;
}

#send-postcard {
  font-size: 25px;
  font-family: "superclarendon", Palatino, serif;
}

#arrow {
  height: 120px;
  width: 120px;
  margin-bottom: 45px;
  margin-left: 20px;
}

#instagram-signin {
  margin-bottom:20px;
  height: 50px;
  width: 240px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #C8592B;
  font-family: Helvetica;
  -webkit-box-shadow: 3px 3px 3px 2px #000000;
  box-shadow: 1px 2px 1px 2px #000000;
}

.top-header p {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "superclarendon", Palatino, serif;
  margin-top: 20px;
  text-shadow: 3px 3px 5px black;
}

#tweet-it {
  float:left;
  margin-left: 60px;
}

#tweet-it-out {
  float:right;
  margin-top: 30px;
  margin-right: 50px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #C8592B;
  font-family: Helvetica;
  -webkit-box-shadow: 3px 3px 3px 2px #000000;
  box-shadow: 1px 2px 1px 2px #000000;
}
