body {
  background-color:#A6D785;
}

#top-home {
  background-color: #465BDE;
  height: 170px;
  border-bottom-color: #C8592B;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.top-page-header {
  background-color: #4884E0;
  height: 120px;
  position: absolute;
}

#postcard-example-home {
  height: 250px;
  width: 350px;
  position: absolute;
  padding-top: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

#postcard-example-final {
  height: 250px;
  width: 350px;
  position: absolute;
  padding-top: 200px;
  left: 0;
  right: 0;
  margin: auto;
}

#picture-wrapper {
  height: 800px;
  width: 500px;
  padding-top: 150px;
  margin: auto;
}

#recipient-input-wrapper {
  height: 275px;
  width: 500px;
  padding-top: 150px;
  margin: auto;
}

#tweet-input-wrapper {
  height: 50px;
  width: 50px;
  padding-left: 270px;
}

#tweet-message {
  width: 500px;
  height: 100px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#at-symbol {
  font-size: 80px;
  width: 60px;
  float: left;
  margin-right: 20px;
  margin-left: 25px;
}

#recipient {
  width: 300px;
  margin-top: 40px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.grids {
  height: 100px;
  width: 100px;
  background-color: white;
}

#grid-row-1 {
  width: 500px;
  display: inline-block;
  margin-bottom: 20px;
}

#grid-1 {
  float: left;
  background-color: purple;
}

#grid-2 {
  float: left;
  margin-left: 100px;
  background-color: lime;
}

#grid-3 {
  background-color: red;
  float: right;
}

#grid-row-2 {
  width: 500px;
  display: inline-block;
  margin-bottom: 20px;
}

#grid-4 {
  background-color: lime;
  float: left;
}

#grid-5 {
  float: left;
  margin-left: 100px;
  background-color: blue;
}

#grid-6 {
  background-color: orange;
  float: right;
}

#grid-row-3 {
  display: inline-block;
  width: 500px;
}

#grid-7 {
  float: left;
}

#grid-8 {
  float: left;
  margin-left: 100px;
}

#grid-9 {
  background-color: yellow;
  float: right;
}

#splash-name p {
  font-size: 65px;
  color: white;
  text-shadow: 3px 3px 5px black;
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  font-family: "superclarendon", Palatino, serif;
}

#send {
  margin-top: 20px;
  margin-right: 80px;
  width: 400px;
  height: 200px;
  float:right;
  margin-right: 0px;
}

#send-postcard {
  font-size: 25px;
  font-family: "superclarendon", Palatino, serif;
}

#arrow {
  height: 120px;
  width: 120px;
  margin-bottom: 45px;
  margin-left: 20px;
}

#instagram-signin {
  margin-bottom:20px;
  height: 50px;
  width: 240px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #C8592B;
  font-family: Helvetica;
  -webkit-box-shadow: 3px 3px 3px 2px #000000;
  box-shadow: 1px 2px 1px 2px #000000;
}

.top-header p {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "superclarendon", Palatino, serif;
  margin-top: 20px;
}
